*{
    
    box-sizing: border-box;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    text-align: left;
}
nav a{
      color: #f511a1;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    margin: 10px;

}

.first h4{
    margin: 20px;
    text-align:center;
    margin-left: 150px;
    color: #f511a1;
    
}
.first h2{
    text-align: center;
    margin-left: 150px;
    color: #f511a1;

}
.form{
    display: flex;

}
img{
    display: flex;
    width: 100%;
    border-radius: 15px;
}
.form div{
    width: 50%;
}
input {
    display: flex;
    margin:0 auto 30px;
    width: 70%;
    padding: 15px;
    border-radius: 15px;
}
button{
margin-left: 250px;
padding: 5px;
margin-top: 5px;
border-radius: 15px;
background:  #f511a1;
color: white;
border: 1px white;
width: 20%;
}
.about-section{
    margin: 0 auto 30px;
}
.about-section h2{
    color: #f511a1;
    padding-bottom: 10px;

}
.about-section p{
    padding-bottom: 5px;
}
.link{
 color: #f511a1;
  text-decoration: none;
    font-size: 15px;
}
footer {
    text-align: center;
    padding: 5px;
    color:black;
    background: #f511a1;
}
footer h4 {
    padding-bottom: 40px;
}
@media (max-width:500px){
    .first{
        width: 48%;
        margin-bottom: 20px;
    }
    input{
        width: 70%;
    }

}


